/* Font perso */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

/* General */

body{
    margin: 0 50px 50px 50px;
    box-sizing: border-box; 
    font-family: 'Raleway', sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

h2{
    font-weight: 700;
}

.flex{
    display: flex;
}

/* Header */

header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

header .logo{
    margin-top: 30px;
}

nav li{
    display: inline-block;
    padding: 40px 30px 0 30px;
}

nav a:last-child{
    color: #0065FC;
    font-weight: bold;
}

nav li:hover{
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

/* Search */

.search{
    margin-bottom: 30px;
}

.search h2{
    margin-bottom: 10px;
}

.search p{
    margin-top: 10px;
}

.search_field{
    margin-bottom: 30px;
}

.container_marker
{
    position: absolute;
    height: 50px;
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
    width: 50px;
}

.container_marker i{
    position: relative;
    top: 0.85rem;
    left: 1.15rem;
}

.icone_map{
    font-size: 1.2rem; 
}

#search_input{
    border: 1px solid #f2f2f2;
    padding: 0 0 0 15px;
    height: 48px;
    margin-left: 50px;
    font-size: 1.1rem;
    font-weight: 600;
    width: 230px;
}

.search_button{
    height: 50px;
    width: 130px;
    background-color: #0065FC;
    border: none;
    padding: 0;
    position: relative;
    left: -5px;
    border-radius: 0 15px 15px 0;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
}

/* Filtres */

.main_filter{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.filters{
    display: flex;
    flex-wrap: wrap;
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 30px;
}

.filter{
    display: flex;
    align-items: center;
    height: 46px;
    border: 2px solid #f2f2f2;
    border-left: none;
    margin-left: 30px;
    padding-right: 20px;
    border-radius: 25px;
}

.filter span{
    padding-left: 12px;
}

.icon_filter{
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #DEEBFF;
}

.icon_filter i{
    margin: auto;
    color: #0065FC;
}

.icon_info{
    margin: 0;
    display: flex;
    height: 20px;
    width: 20px;
    border: 1px solid #f2f2f2;
    border-radius: 50%;
    margin-right: 10px;
}

.icon_info i{
    margin: auto;
    font-size: 0.9rem;
    color: #0065FC;  
}

.container_info{
    display: flex;
}

/* Partie hebergement */

.contenu_hebergement{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.hebergement, .populaire{
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 40px;
}

.hebergement{
    flex: 2;
}

.tab_hebergement{
    flex-wrap: wrap;
    justify-content: space-between;
}

.tab_hebergement a{
    width: 32%;
}

.choix_hebergement{
    flex-direction: column;
    height: 220px;
    border: 5px solid #ffffff;
    border-radius: 20px;
    margin-bottom: 30px;
    box-shadow: 0 0 7px #c1c1c1;
}

.image_hebergement{
    height: 64%;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.hebergement_description{
    height: 36%;
    background-color: #ffffff;
    padding: 10px;
}

.text_description p{
    margin: 6px 0;
}

.hebergement1{
    background: url("../images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg") center;
    background-size: cover;
}

.hebergement2{
    background: url("../images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg") center;
    background-size: cover;
}

.hebergement3{
    background: url("../images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg") center;
    background-size: cover;
}

.hebergement4{
    background: url("../images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg") center;
    background-size: cover;
}

.hebergement5{
    background: url("../images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg") center;
    background-size: cover;
}

.hebergement6{
    background: url("../images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg") center;
    background-size: cover;
}

.showmore{
    font-weight: 700;
    font-size: 1.2rem;
}

/* Populaire */

.populaire{
    flex: 1;
    margin-left: 3%;
}

.popularIcon{
    align-items: center;
    justify-content: space-between;
}

.popularIcon i{
    font-size: 1.5rem;
}

.choix_populaire{
    height: 145px;
    display: flex;
    border: 5px solid #ffffff;
    border-radius: 15px;
    margin-bottom: 30px;
}

.image_populaire{
    height: 100%;
    width: 40%;
    border-radius: 15px 0 0 15px;
}

.populaire_description{
    width: 60%;
    background-color: #ffffff;
    padding: 10px 15px;
}

.textPopular{
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.populaire1{
    background: url("../images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg") center;
    background-size: cover;
}

.populaire2{
    background: url("../images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg") center;
    background-size: cover;
}

.populaire3{
    background: url("../images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg") center;
    background-size: cover;
}

.hotel{
    font-weight: 700;
    font-size: 1.1rem;
}

.populaire_description .hotel + p{
    margin-top: 8px;
}

.fa-star{
    font-size: 0.8rem;
    letter-spacing: 2px;
}

.blueStar{
    color: #0065FC;
}

.greyStar{
    color: #f2f2f2;
}

/* Activities */

.activitiesTab{
    height: 450px;
    justify-content: space-between;
}

.activitiesTab a{
    width: 23%;
}

.choix_activites{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 7px #c1c1c1;
    border-radius: 15px;
    height: 100%;
}

.activityPicture{
    height: 100%;
    border-radius: 15px 15px 0 0;
}

.activityDescription{
    height: 50px;
    background-color: #ffffff;
    font-size: 1.1rem;
    font-weight: 700;
    border-radius: 0 0 15px 15px;
    padding: 15px 15px 0 15px;
}

.activity1{
    background: url("../images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg") center;
    background-size: cover;
}

.activity2{
    background: url("../images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg") center;
    background-size: cover;
}

.activity3{
    background: url("../images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg") center;
    background-size: cover;
}

.activity4{
    background: url("../images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg") center;
    background-size: cover;
}

.activity5{
    background: url("../images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg") center;
    background-size: cover;
}

.activity6{
    background: url("../images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg") center;
    background-size: cover;
}

.activitiesColumn{
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.choix2{
    flex:0.55;
    margin-bottom: 5%;
}

.choix3{
    flex:0.4;
}

.choix5{
    flex: 0.45;
    margin-bottom: 5%;
}

.choix6{
    flex: 0.5;
}

.activitiesColumn a{
    width: 100%;
}

.activity1 + .activityDescription, .activity4 + .activityDescription{
    height: 40px;
}