/* Font perso */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

/* General */

body{
    margin: 0;
    box-sizing: border-box; 
    font-family: 'Raleway', sans-serif;
}

#main{
    margin: 0 50px 50px 50px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

h2{
    font-weight: 700;
}

.flex{
    display: flex;
}

/* Header */

header{
    justify-content: space-between;
    margin-bottom: 35px;
}

header .logo{
    margin-top: 30px;
}

nav li{
    padding-top: 40px;
}

nav a{
    padding: 40px 30px 0 30px;
}

.signUp{
    color: #0065FC;
    font-weight: bold;
}

nav a:hover{
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 38px;
}

/* Search bar */

.search{
    margin-bottom: 30px;
}

.search h2{
    margin-bottom: 10px;
}

.search p{
    margin-top: 10px;
}

.searchBar{
    margin-bottom: 30px;
}

.containerMarker
{
    position: absolute;
    height: 50px;
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
    width: 50px;
}

.containerMarker i{
    position: relative;
    top: 0.85rem;
    left: 1.15rem;
    font-size: 1.2rem; 
}

#searchInput{
    border: 1px solid #f2f2f2;
    padding: 0 0 0 15px;
    height: 48px;
    margin-left: 50px;
    font-size: 1.1rem;
    font-weight: 600;
    width: 230px;
}

.searchButton{
    height: 50px;
    width: 130px;
    background-color: #0065FC;
    border: none;
    padding: 0;
    position: relative;
    left: -5px;
    border-radius: 0 15px 15px 0;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
}

/* Filters */

.mainFilter{
    align-items: center;
    margin-right: 10px;
}

.filters{
    flex-wrap: wrap;
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 30px;
}

.filter{
    display: flex;
    align-items: center;
    height: 46px;
    border: 2px solid #f2f2f2;
    border-left: none;
    margin-left: 30px;
    padding-right: 20px;
    border-radius: 25px;
}

.filter span{
    padding-left: 12px;
}

.filter:hover{
    cursor: pointer;
    border-color: #0065FC;
    color: #0065FC;
}

.iconFilter{
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #DEEBFF;
}

.iconFilter i{
    margin: auto;
    color: #0065FC;
}

.iconInfo{
    margin: 0;
    height: 20px;
    width: 20px;
    border: 1px solid #f2f2f2;
    border-radius: 1rem;
    margin-right: 10px;
}

.iconInfo i{
    margin: auto;
    font-size: 0.9rem;
    color: #0065FC;  
}

.containerInfo{
    display: flex;
}

/* Hotels */

.containerHotels{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.hotels, .popular{
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 40px;
}

.hotels{
    flex: 2;
}

.hotelsTab{
    flex-wrap: wrap;
    justify-content: space-between;
}

.hotelsTab a{
    width: 32%;
}

.hotelFrame{
    flex-direction: column;
    height: 220px;
    border: 5px solid #ffffff;
    border-radius: 20px;
    margin-bottom: 30px;
    box-shadow: 0 0 7px #c1c1c1;
}

.hotelPicture{
    height: 64%;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.hotelDescription{
    height: 36%;
    background-color: #ffffff;
    padding: 10px;
}

.hotelDescriptionText p{
    margin: 6px 0;
}

.hotel1{
    background: url("images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg") center;
    background-size: cover;
}

.hotel2{
    background: url("images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg") center;
    background-size: cover;
}

.hotel3{
    background: url("images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg") center;
    background-size: cover;
}

.hotel4{
    background: url("images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg") center;
    background-size: cover;
}

.hotel5{
    background: url("images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg") center;
    background-size: cover;
}

.hotel6{
    background: url("images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg") center;
    background-size: cover;
}

.showMore{
    font-weight: 700;
    font-size: 1.2rem;
}

/* Popular */

.popular{
    flex: 1;
    margin-left: 3%;
}

.popularIcon{
    align-items: center;
    justify-content: space-between;
}

.popularIcon i{
    font-size: 1.5rem;
}

.popularFrame{
    height: 145px;
    border: 5px solid #ffffff;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 0 0 7px #c1c1c1;
}

.popularPicture{
    height: 100%;
    width: 40%;
    border-radius: 15px 0 0 15px;
}

.popularDescription{
    width: 60%;
    background-color: #ffffff;
    padding: 10px 15px;
}

.popularDescriptionText{
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.popular1{
    background: url("images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg") center;
    background-size: cover;
}

.popular2{
    background: url("images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg") center;
    background-size: cover;
}

.popular3{
    background: url("images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg") center;
    background-size: cover;
}

.hotelName{
    font-weight: 700;
    font-size: 1.1rem;
}

.popularDescription .hotelName + p{
    margin-top: 8px;
}

.fa-star{
    font-size: 0.8rem;
    letter-spacing: 2px;
}

.blueStar{
    color: #0065FC;
}

.greyStar{
    color: #f2f2f2;
}

/* Activities */

.activitiesTab{
    height: 450px;
    justify-content: space-between;
}

.activitiesTab a{
    width: 23%;
}

.activityFrame{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 7px #c1c1c1;
    border-radius: 15px;
    height: 100%;
}

.activityPicture{
    height: 100%;
    border-radius: 15px 15px 0 0;
}

.activityDescription{
    height: 50px;
    background-color: #ffffff;
    font-size: 1.1rem;
    font-weight: 700;
    border-radius: 0 0 15px 15px;
    padding: 15px 15px 0 15px;
}

.activity1{
    background: url("images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg") center;
    background-size: cover;
}

.activity2{
    background: url("images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg") center;
    background-size: cover;
}

.activity3{
    background: url("images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg") center;
    background-size: cover;
}

.activity4{
    background: url("images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg") center;
    background-size: cover;
}

.activity5{
    background: url("images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg") center;
    background-size: cover;
}

.activity6{
    background: url("images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg") center;
    background-size: cover;
}

.activitiesColumn{
    width: 23%;
    flex-direction: column;
    justify-content: space-between;
}

.choice2{
    flex:0.55;
    margin-bottom: 5%;
}

.choice3{
    flex:0.4;
}

.choice5{
    flex: 0.45;
    margin-bottom: 5%;
}

.choice6{
    flex: 0.5;
}

.activitiesColumn a{
    width: 100%;
}

.activity1 + .activityDescription, .activity4 + .activityDescription{
    height: 40px;
}

/* Footer */

footer{
    padding: 40px 50px 50px 50px;
    background-color: #f2f2f2;
}

footer div{
    flex: 1;
}

footer li{
    margin-bottom: 15px;
}

footer a:hover{
    font-weight: 600;
    color: #0065FC;
}